/* Style */
body {
	padding-top:50px;
}

.nav {
	padding-left:40px;
	background-color:#ff4c98;
}

.branco {
	color:#ffc1f3;
}

#estilomenu {
	color:#b80093;
	text-decoration:none;
	margin-left:170px;
	
	
}